.controll-buttons {
  display: flex;
  justify-content: center;
}
.controll-button {
  padding: 5px 10px;
  background-color: blue;
  margin: 5px;
  border-radius: 5px;
}
.controll-button:hover {
  background-color: lightblue;
}
