.controll-buttons {
  display: flex;
  justify-content: center;
}
.controll-button {
  padding: 5px 10px;
  background-color: rgb(61, 68, 89);
  margin: 5px;
  border-radius: 5px;
}
.controll-button:hover {
  background-color: rgb(104, 110, 148);
}
