.controll-buttons {
  display: flex;
  justify-content: center;
  background: #dadd93;
  padding: 30px 50px;
}
.controll-button {
  margin: 0 8px;
  height: 60px;
  width: 50px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-color: #ec417a;
  border-radius: 8px;
  border: none;
}
.controll-button:hover {
  background-color: #eab6cc;
}
