.drop-zone {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  display: flex;
  padding-top: 100px;
  justify-content: center;
}
.hidden {
  display: none;
}

.highlight {
  background-color: #00000055;
}

.drop-message {
  font-size: 40px;
  color: white;
}
